body {
  background-color: #cecece;
}

img {
  width: 300px;
  height: 300px;
}

.image {
  width: 40px;
  height: 40px;
}

table,
th,
td {
  border: 1px solid #000;
}

h2 {
  text-align: center;
  color: yellow;
}

ul {
  list-style: none;
}

ul li {
  padding: 5px;
  background: #f4f4f4;
  margin: 5px 0;
}

.container {
  margin: auto;
  width: 600px;
  overflow: auto;
  padding: 3rem 2rem;
}

.my-form {
  padding: 2rem;
  background: #f4f4f4;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px #777;
  /* border: 1px solid #f4f4f4; */
}

.lastname {
  padding-left: 10px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  background: #333;
  color: #fff;
  border-radius: 5px;
  margin: 5px 0;
}
